<div class="mat-elevation-z8">
  <table
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
    [dataSource]="data"
  >
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
      <td mat-cell *matCellDef="let row">{{ row.manufacturer }}</td>
    </ng-container>

    <ng-container matColumnDef="style">
      <th mat-header-cell *matHeaderCellDef>Style</th>
      <td mat-cell *matCellDef="let row">{{ row.style }}</td>
    </ng-container>

    <ng-container matColumnDef="purchasePrice">
      <th mat-header-cell *matHeaderCellDef>PurchasePrice</th>
      <td mat-cell *matCellDef="let row">{{ row.purchasePrice }}</td>
    </ng-container>

    <ng-container matColumnDef="salePrice">
      <th mat-header-cell *matHeaderCellDef>SalePrice</th>
      <td mat-cell *matCellDef="let row">{{ row.salePrice }}</td>
    </ng-container>

    <ng-container matColumnDef="qtyOnHand">
      <th mat-header-cell *matHeaderCellDef>QTY</th>
      <td mat-cell *matCellDef="let row">{{ row.qtyOnHand }}</td>
    </ng-container>

    <ng-container matColumnDef="commissionPercentage">
      <th mat-header-cell *matHeaderCellDef>Commission%</th>
      <td mat-cell *matCellDef="let row">{{ row.commissionPercentage }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="data.length"
    [pageIndex]="0"
    [pageSize]="50"
  >
  </mat-paginator>
</div>
